DATABASE_URL=postgres://postgres:dev@localhost:5432/tasks 
SUPABASE_URL=https://qlnsvlacebburdxwxxoi.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFsbnN2bGFjZWJidXJkeHd4eG9pIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA0ODU2NTYsImV4cCI6MjEwNjA2MTY1Nn0.l6jKCgYdiWts9POCKtIpsouvHR1d8ukZXbcSfxip5OY
